input[type='checkbox'] {
    content: '\2713';
    position: relative;
}


input[type='checkbox']::after {
    content: '\2713';
    position: absolute;
    left: 50%;
    top: -25%;
    bottom: 15%;
    transform: translate(-50%);
    font-weight: bold;
    color: red;
    display: none;
    
}

input[type='checkbox']:checked::after {
    content: '\2713';
    position: absolute;
    left: 50%;
    top: -25%;
    bottom: 15%;
    transform: translate(-50%);
    font-weight: bold;
    color: red;
    display: block;
    
}